@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}

.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header a {
  text-decoration: none;
  color: #15302C;
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 976px);
  display: grid;
  justify-content: center;
}

.Characters {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  perspective: 10000px;
}

.Characters-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}
@media screen and (max-width:600px) {
  .Characters-inner {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    grid-row-gap: 1.5em;
  }
}

.Characters-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
  perspective: 1000;
}

.Characters-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  animation: turn 2s ease forwards;
}
@keyframes turn {
  from {
    transform: rotateY(180deg) translateY(-30px) translateZ(-500px);
  }
  to {
    transform: rotateY(360deg) translateY(0) translateZ(0);
  }
}

.Characters-card h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.Characters-card h3 {
  font-size: 18px;
  text-align: left;
  margin: 20px;
  font-weight: bold;
  animation: accordion 1s ease-in-out forwards;
  transform-origin: top center;
  transform: scaleY(0);
}
.Characters-card h3:nth-child(1) {
  animation-delay: 1s;
}
.Characters-card h3:nth-child(2) {
  animation-delay: 1.1s;
}
.Characters-card h3:nth-child(3) {
  animation-delay: 1.2s;
}
.Characters-card h3:nth-child(4) {
  animation-delay: 1.3s;
}
.Characters-card h3:nth-child(5) {
  animation-delay: 1.4s;
}
.Characters-card h3:nth-child(6) {
  animation-delay: 1.5s;
}



@keyframes accordion {
  to {
    transform: scaleY(1);
  }
}


.Characters-card h3 span {
  font-weight: 400;
}

.Characters-item {
  text-decoration: none;
  transform-style: preserve-3d;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
  transition: 1s all;
}
.Characters-item > div{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
}
.Characters-item:hover{
  transform: scale(.95) rotateY(-10deg) rotateX(10deg) translateY(-50px) ;
}

@media screen and ( max-width:400px) {
  .Characters-item {
    width: 200px;
  }
}


.Characters-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Characters-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.Characters-item a {
  text-decoration: none;
  color: #026C86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}